.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.App {
  display: flex;

  &-nav {
    padding: 32px 0;
    width: 20%;
  }

  &-divider {
    height: 100vh;
    margin: 0;
  }

  &-content {
    height: 100vh;
    overflow-y: scroll;
    width: 80%;
  }
}
